target/
mvnw
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.idea/

.classpath
.project
.settings/

*.class

*.log

.bluej/

.codekit-cache/

logs/

.DS_Store
Thumbs.db

__pycache__/

*.gem

*.exe

*.jar
*.war
*.ear

/target/

node_modules/

*.ts
*.tsx
*.js
*.jsx
*.map

yarn-error.log
.pnp.js

.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?